@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    height:auto;
    width: 60%;
    box-shadow: 2px 3px 3px black;

}
.wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

#result{
    color: blue;
    font-size: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    top: 0;
    left: 0;
    height: 50px;
    width: 110px;
    margin-bottom: 40px;
    box-shadow: 2px 3px 3px black;
}

.btn:hover{
    background-color: coral;
}



